* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: #white;
  --black: #0D1F2D;
  --blue: #5BC0EB;
  --purple: #9368B7;
  --green: #9BC53D;
  --pink: #EFAAC4;
}

body {
  background-color: var(--black);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* styling for header starts here */
header {
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 20px;
  background: linear-gradient(-80deg, #EFAAC4, var(--purple));
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 0 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
