* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: #white;
  --black: #0D1F2D;
  --blue: #5BC0EB;
  --purple: #9368B7;
  --green: #9BC53D;
  --pink: #EFAAC4;
}


body {
  background-color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* body styling */
.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.section-title {
  color: white;
  font-size: xx-large;
  text-align: center;
  margin-top: 40px;
  width: 100%;
}

.section-info {
  width: 70%;
  padding: 30px 20px;
}
/* styling for header starts here */
header {
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 20px;
  background: linear-gradient(-80deg, #EFAAC4, var(--purple));
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 0 10px;
}

header h1 {
font-size: 50px;
color: var(--black);
margin: 0;
padding-top: 10px;
}

header a {
  color: white;
  text-decoration: none;
}

header nav {
  padding-top: 10px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 0px;
  margin: 0px 25px;
  font-weight: bold;
  font-size: 2vw;
}

header nav ul li a:hover {
  border-bottom: #9BC53D solid 1px;
}

.nav-active {
  border-bottom: #9BC53D solid 1px;
}

.nav-inactive {
  border-bottom: none;
}

/* footer stying starts here*/
footer {
  text-align: center;
  background: linear-gradient(80deg, #5BC0EB, var(--green));
  height: 40px;
  align-items: center;
  margin-top: 60px;
  box-shadow: 0 0 10px;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
}

footer h2 {
  color: white;
  font-size: 10px;
  text-align: center;
  font-weight: 300;
  padding: 5px;
}

footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 20px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;

}

footer li a {
  text-decoration: none;
  list-style-type: none;
}

footer svg {
  fill: white;
}

/* about section styling starts here */
.about-container {
  min-height: 400px;
}

.about-info {
  background-color: rgba(245, 245, 245, 0.9);
  border-bottom: 4px #9368B7 solid;
  border-top: #9BC53D 4px solid;
  border-left: #EFAAC4 4px solid;
  border-right: #5BC0EB 4px solid;
  display: flex;
  padding-bottom: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.about-img {
  flex: 1 20%;
  margin-right: 20px;
}

.about-img img {
  border-radius: 50%;
}

.about-bio {
  color: var(--black);
  line-height: 1.3;
  flex: 12;
  padding: 15px;
}

/* contact form stying starts here */
.contact-container {
  display: flex;
  flex: wrap;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  width: 30%;
  background-color: rgba(245, 245, 245, 0.9);
  border-bottom: 4px #9368B7 solid;
  border-top: #9BC53D 4px solid;
  border-left: #EFAAC4 4px solid;
  border-right: #5BC0EB 4px solid;
  display: flex;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.contact-form input, textarea {
  border: #0D1F2D 1px solid;
  display: block;
  padding: 7px 15px;
  font-size: 15px;
  color: #0D1F2D;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

.contact-form label {
  margin: 0 5px;
}

.contact-form button:hover {
  background-color: #EFAAC4;
}

.contact-form button {
  color: #0D1F2D;
  background-color: #5BC0EB;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 10px;
  padding-top: 10px;
}

/* resume section stying starts here */
.resume-container {
  display: flex;
  flex: wrap;
}

.resume-section {
  display: flex;
  flex: wrap;
  align-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.9);
  border-bottom: 4px #9368B7 solid;
  border-top: #9BC53D 4px solid;
  border-left: #EFAAC4 4px solid;
  border-right: #5BC0EB 4px solid;
  justify-content: space-evenly;
  width: 50%;
  margin-top: 10px;
}

.resume-section a {
  text-decoration: none;
  color:#9368B7;
  font-weight: bold;
}

.resume-section a:hover {
  color: #9BC53D;
}

.skills-list h3 {
  padding: 5px;
  font-family: var(--black);
}

.skills-list ul li {
  display: flex;
  justify-content: center;
  padding-bottom: 7px;
  font-weight: lighter;
}

.skills-list li:hover {
  background-color: #9BC53D;
  border-radius: 60%;
  font-weight: normal;
}

img {
  max-width: 100%;
}
